<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{document.img}}" title="{{document.name}}" data-edit="img"/>
        <h1 class="title">
            <input name="name" type="text" value="{{document.name}}" placeholder="{{localize "BlackFlag.Character.TalentName"}}"/>
        </h1>
        <div class="form-group">
            <div class="form-fields">
                {{colorPicker name="system.color" value=document.system.color}}
            </div>
        </div>
    </header>

    {{!-- Body --}}
    <section class="sheet-body">
        {{!-- Description --}}
        <div class="form-group stacked" data-name="system.description">
            <label>{{ localize "BlackFlag.Character.BackgroundDescription" }}</label>
            {{editor descriptionHTML target="system.description" button=false editable=editable engine="prosemirror" collaborate=false}}
        </div>

        {{!-- Talent Description --}}
        <div class="form-group stacked" data-name="system.talentDescription">
            <label>{{ localize "BlackFlag.Character.TalentDescription" }}</label>
            <textarea name="system.talentDescription" rows="4" placeholder="{{localize "BlackFlag.Character.TalentDescription"}}">{{document.system.talentDescription}}</textarea>
        </div>

        {{!-- Talents --}}
        <div class="form-group stacked" data-name="system.talents">
            <label>{{ localize "BlackFlag.Character.TalentOptions" }}</label>
            {{!-- Render each existing Talent as a document link, with a button to remove --}}
            <div class="foreign-documents talents flexcol">
                {{#each document.system.talents}}
                    <div class="foreign-document talent flexrow">
                        <a class="content-link talent-link" draggable="true" data-uuid="{{this.uuid}}" data-id="{{this.id}}" data-type="Item" data-tooltip="Item">
                            <i class="fas fa-suitcase"></i> {{this.name}}
                        </a>
                        <i class="fas fa-delete-left" data-action="delete"></i>
                    </div>
                {{/each}}
                {{!-- Render a text input with search ahead to add a new Talent --}}
                <input name="system.talents" list="system-talents-list" type="text" value="" placeholder="{{localize "BlackFlag.Character.Talent"}}"/>
                <datalist id="system-talents-list">
                    {{#each allTalents}}
                        <option value="{{this._id}}" label="{{this.name}}"></option>
                    {{/each}}
                </datalist>
            </div>
        </div>

        {{!-- Number of Talents --}}
        <div class="form-group stacked" data-name="system.numberOfTalents">
            <label>{{ localize "BlackFlag.Character.TalentsNumber" }}</label>
            <input name="system.numberOfTalents" type="number" value="{{document.system.numberOfTalents}}" placeholder="{{localize "BlackFlag.Character.TalentsNumber"}}"/>
        </div>

        {{!-- Equipment --}}
        <div class="form-group stacked" data-name="system.equipment">
            <label>{{ localize "BlackFlag.Character.Equipment" }}</label>
            <input name="system.equipment" type="text" value="{{document.system.equipment}}" placeholder="{{localize "BlackFlag.Character.Equipment"}}"/>
        </div>

        <hr>

        {{!-- Traits --}}
        <div class="form-group stacked">
            <div class="header flexrow">
                <h3>{{ localize "BlackFlag.Character.Traits" }}</h3>
                {{#if owner}}
                    <div class="item-controls">
                        <a class="item-control trait-create" data-tooltip="{{localize "BlackFlag.CharacterBuilder.CreateElement" elem='({{localize "BlackFlag.Character.Trait"}})'"}} >
                            <i class="fas fa-plus"></i> {{localize "BlackFlag.Common.Add"}}
                        </a>
                    </div>
                {{/if}}
            </div>

            <ul class="directory-list">
                {{#each document.system.traits as |trait t|}}
                    <li class="trait flexrow" data-trait-id="{{trait.id}}">
                        <div class="trait-header flexrow" data-tooltip="{{trait.name}}">
                            <img class="trait-icon" src="{{trait.img}}"/>
                            <h4 class="trait-name">{{truncate trait.name 25}}</h4>
                        </div>
                        <div class="description" data-tooltip="{{{trait.description}}}">{{truncate trait.description 50}}</div>
                        {{#if ../owner}}
                            <div class="item-controls">
                                <a class="item-control trait-edit" data-tooltip="{{localize "BlackFlag.Common.Edit"}}"><i class="fas fa-edit"></i></a>
                                <a class="item-control trait-delete" data-tooltip="{{localize "BlackFlag.Common.Delete"}}"><i class="fas fa-trash"></i></a>
                            </div>
                        {{/if}}
                    </li>
                {{/each}}
            </ul>
        </div>
    </section>

    <footer>
        <button type="submit">{{localize "BlackFlag.Common.Save"}}</button>
    </footer>
</form>
