<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{document.img}}" title="{{document.name}}" data-edit="img"/>
        <h1 class="title">
            <input name="name" type="text" value="{{document.name}}" placeholder="{{localize "BlackFlag.Character.TalentName"}}"/>
        </h1>
    </header>

    {{!-- Body --}}
    <section class="sheet-body">

        {{!-- Prequisite --}}
        <div class="form-group" data-name="system.prerequisite">
            <label>{{ localize "BlackFlag.Character.TraitPrerequisite" }}</label>
            <input name="system.prerequisite" type="text" value="{{document.system.prerequisite}}" placeholder="{{localize "BlackFlag.Character.TraitPrerequisite"}}"/>
        </div>

        {{!-- Description --}}
        <div class="form-group stacked" data-name="system.description">
            <label>{{ localize "BlackFlag.Common.Description" }}</label>
            {{editor descriptionHTML target="system.description" button=false editable=editable engine="prosemirror" collaborate=false}}
        </div>
    </section>

    <footer>
        <button type="submit">{{localize "BlackFlag.Common.Save"}}</button>
    </footer>
</form>
