<form class="{{cssClass}} flexrow" autocomplete="off">

    {{!-- Main Content --}}
    <section class="main flexcol">
        <img class="cover" src="/systems/black-flag/system/sheets/assets/bf-banner-mask-wip3.webp"/>
        <div class="info">
            <ul class="steps flexcol">
                {{!-- Lineage --}}
                <li class="step flexrow lineages {{#if this.lineageCompleted}}completed{{/if}}">
                    {{#if this.lineageCompleted}}
                        <img class="icon" src="{{this.document.system.lineage.img}}"/>
                    {{else}}
                        <img class="icon" src="/systems/black-flag/system/sheets/assets/lineages-icon.webp"/>
                    {{/if}}
                    <div class="step-info flexcol">
                        <h2>{{localize "BlackFlag.Character.Lineage"}}{{#if this.lineageCompleted}}: {{this.document.system.lineage.name}}{{/if}}</h2>
                        <p>{{localize "BlackFlag.CharacterBuilder.LineageDesc"}}</p>
                    </div>
                </li>

                {{!-- Heritage --}}
                <li class="step flexrow heritages {{#if this.heritageCompleted}}completed{{/if}}">
                    {{#if this.heritageCompleted}}
                        <img class="icon" src="{{this.document.system.heritage.img}}"/>
                    {{else}}
                        <img class="icon" src="/systems/black-flag/system/sheets/assets/heritages-icon.webp"/>
                    {{/if}}
                    <div class="step-info flexcol">
                        <h2>{{localize "BlackFlag.Character.Heritage"}}{{#if this.heritageCompleted}}: {{this.document.system.heritage.name}}{{/if}}</h2>
                        <p>{{localize "BlackFlag.CharacterBuilder.HeritageDesc"}}</p>
                    </div>
                </li>

                {{!-- Background --}}
                <li class="step flexrow backgrounds {{#if this.backgroundCompleted}}completed{{/if}}">
                    {{#if this.backgroundCompleted}}
                        <img class="icon" src="{{this.document.system.background.img}}"/>
                    {{else}}
                        <img class="icon" src="/systems/black-flag/system/sheets/assets/backgrounds-icon.webp"/>
                    {{/if}}
                    <div class="step-info flexcol">
                        <h2>{{localize "BlackFlag.Character.Background"}}{{#if this.backgroundCompleted}}: {{this.document.system.background.name}}{{/if}}</h2>
                        <p>{{localize "BlackFlag.CharacterBuilder.BackgroundDesc"}}</p>
                    </div>
                </li>

                {{!-- Class --}}
                <li class="step flexrow classes {{#if this.classCompleted}}completed{{/if}}">
                    {{#if this.classCompleted}}
                        <img class="icon" src="{{this.document.system.class.img}}"/>
                    {{else}}
                        <img class="icon" src="/systems/black-flag/system/sheets/assets/classes-icon.webp"/>
                    {{/if}}
                    <div class="step-info flexcol">
                        <h2>{{localize "BlackFlag.Character.Class"}}{{#if this.classCompleted}}: {{this.document.system.class.name}}{{/if}}</h2>
                        <p>{{localize "BlackFlag.CharacterBuilder.ClassDesc"}}</p>
                    </div>
                </li>
            </ul>

            {{!-- Done Button --}}
            <button class="done" data-action="done">{{localize "BlackFlag.Common.Done"}}</button>
        </div>
    </section>

    <section class="options flexrow">
    </section>
</form>
