{{#each this.options}}
<section class="option flexcol">
    <div class="cover-container">
        <img class="cover" src="/systems/black-flag/system/sheets/assets/bf-banner-mask-wip3.webp" style="background-image: url('{{this.img}}')" />
    </div>
    <h1 class="name">{{this.name}}</h1>
    <div class="info">
        <div class="description">{{{this.system.description}}}</div>

        {{!-- Age --}}
        <fieldset>
            <legend>{{localize "BlackFlag.Character.Age"}}</legend>
            <p>{{this.system.age}}</p>
            <div class="form-group">
                <label for="system.age">{{localize "BlackFlag.Character.YourAge"}}</label>
                <input type="number" name="system.age" id="age" value="{{this.system.age}}" min="0" step="1" />
            </div>
        </fieldset>

        {{!-- Size --}}
        <fieldset>
            <legend>{{localize "BlackFlag.Character.Size"}}</legend>
            <p>{{this.system.size.description}}</p>
            <div class="form-group">
                <label for="system.size">{{localize "BlackFlag.Character.YourSize"}}</label>
                <select name="system.size">
                    {{selectOptions ../sizeOptions selected=this.system.size.type}}
                </select>
            </div>
        </fieldset>

        {{!-- Traits --}}
        <div class="traits">
            <h2>{{localize "BlackFlag.Character.Traits"}}</h2>
            {{#each this.system.traits}}
                <div class="form-group stacked trait" data-id="{{this.id}}">
                    <div class="flexrow">
                        <img class="trait-img" src="{{this.img}}" alt="{{this.name}}" data-tooltip="{{this.name}}" width="70" height="70"/>
                        <div class="flexcol">
                            <label>{{this.name}}</label>
                            <p>{{{this.description}}}</p>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>

        {{!-- Choose Button --}}
        <button class="choose" data-id="{{this._id}}" data-type="lineage" data-action="choose">{{localize "BlackFlag.Common.Choose"}}</button>
    </div>
</section>
{{/each}}
