{{#each this.options}}
<section class="option flexcol">
    <img class="cover" src="/systems/black-flag/system/sheets/assets/bf-banner-mask-wip1.webp" style="background-image: url('{{this.img}}')" />
    <div class="info">
        <h1 class="name">{{this.name}}</h1>
        <div class="description">{{{this.system.description}}}</div>

        {{!-- Choose Button --}}
        <button class="choose" data-id="{{this._id}}" data-type="background" data-action="choose">{{localize "Choose"}}</button>
    </div>
</section>
{{/each}}
