<form class="{{cssClass}} flexrow" autocomplete="off">

    {{!-- Main Content --}}
    <section class="main flexcol">
        <img class="cover" src="/systems/black-flag/system/sheets/assets/bf-banner-mask-wip1.webp"/>
        <h1>{{localize "Character Builder"}}</h1>
        <hr>
        <ul class="steps flexcol">
            <li class="step flexrow lineages">
                <img class="icon" src="/systems/black-flag/system/sheets/assets/lineages-icon.png"/>
                <div class="info flexcol">
                    <h2>{{localize "Lineage"}}</h2>
                    <p>{{localize "Your lineage dictates certain fantastical lineage traits your character has because of their ancestry."}}</p>
                </div>
            </li>
            <li class="step flexrow heritages">
                <img class="icon" src="/systems/black-flag/system/sheets/assets/heritages-icon.png"/>
                <div class="info flexcol">
                    <h2>{{localize "Heritage"}}</h2>
                    <p>{{localize "Your heritage dictates certain abilities you have because of your connection to a particular group or society."}}</p>
                </div>
            </li>
            <li class="step flexrow backgrounds">
                <img class="icon" src="/systems/black-flag/system/sheets/assets/backgrounds-icon.png"/>
                <div class="info flexcol">
                    <h2>{{localize "Background"}}</h2>
                    <p>{{localize "Your choice of background helps define your character’s personal history prior to taking up the mantle of an adventurer."}}</p>
                </div>
            </li>
        </ul>
    </section>

    <section class="options flexrow">
    </section>
</form>
